<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title align="center">Nilai</ion-title>
    </ion-toolbar>
    <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
  </ion-header>

<ion-content>
    <table class="table">
        <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Kode Matkul</th>
                        <th>Nama Matkul</th>
                        <th>SKS</th>
                        <th>NA</th>
                        <th>AM</th>
                        <th>Mutu</th>
                        <th>HM</th>
                    </tr>
                </thead>
                                                <tbody>
                                        <tr valign="top">
                            <td>1</td>
                            <td>GC227</td>
                            <td>Pengantar Arsitektur dan Organisasi Komputer [ <i>Intro to Organization Computer and Architecture</i> ]</td>
                            <td>2</td>
                            <td>84.00</td>
                            <td>4</td>
                            <td style="text-align:right">8&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>2</td>
                            <td>GC311</td>
                            <td>Perancangan Database [ <i>Database Design</i> ]</td>
                            <td>3</td>
                            <td>78.75</td>
                            <td>3</td>
                            <td style="text-align:right">9&nbsp;&nbsp;</td>
                            <td>B</td>
                        </tr>
                                        <tr valign="top">
                            <td>3</td>
                            <td>FK304</td>
                            <td>Matematika [ <i>Mathematics</i> ]</td>
                            <td>3</td>
                            <td>62.65</td>
                            <td>2</td>
                            <td style="text-align:right">6&nbsp;&nbsp;</td>
                            <td>C</td>
                        </tr>
                                        <tr valign="top">
                            <td>4</td>
                            <td>GC327</td>
                            <td>Algoritma dan Struktur Data [ <i>Algorithms and Data Structure</i> ]</td>
                            <td>3</td>
                            <td>88.10</td>
                            <td>4</td>
                            <td style="text-align:right">12&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>5</td>
                            <td>GC309</td>
                            <td>Jaringan dan Komunikasi [ <i>Network and Communication</i> ]</td>
                            <td>3</td>
                            <td>80.02</td>
                            <td>4</td>
                            <td style="text-align:right">12&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>6</td>
                            <td>GC302</td>
                            <td>Dasar-dasar Pemrograman [ <i>Programming Fundamentals</i> ]</td>
                            <td>3</td>
                            <td>79.45</td>
                            <td>3</td>
                            <td style="text-align:right">9&nbsp;&nbsp;</td>
                            <td>B</td>
                        </tr>
                                        <tr valign="top">
                            <td>7</td>
                            <td>GC319</td>
                            <td>Komunikasi Digital [ <i>Digital Communication</i> ]</td>
                            <td>3</td>
                            <td>82.50</td>
                            <td>4</td>
                            <td style="text-align:right">12&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>8</td>
                            <td>FK307</td>
                            <td>Statistika dan Probabilitas  [ <i>Statistics and Probability</i> ]</td>
                            <td>3</td>
                            <td>67.75</td>
                            <td>3</td>
                            <td style="text-align:right">9&nbsp;&nbsp;</td>
                            <td>B</td>
                        </tr>
                                        <tr valign="top">
                            <td>9</td>
                            <td>FK218</td>
                            <td>Pendidikan Pancasila [ <i>Pancasila Studies</i> ]</td>
                            <td>2</td>
                            <td>81.96</td>
                            <td>4</td>
                            <td style="text-align:right">8&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>10</td>
                            <td>FK321</td>
                            <td>Aljabar Liniar [ <i>Lenear Algebra</i> ]</td>
                            <td>3</td>
                            <td>89.35</td>
                            <td>4</td>
                            <td style="text-align:right">12&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>11</td>
                            <td>GC304</td>
                            <td>Konfigurasi dan Penggunaan Sistem Operasi [ <i>Operating System Configuration & Use</i> ]</td>
                            <td>3</td>
                            <td>77.50</td>
                            <td>3</td>
                            <td style="text-align:right">9&nbsp;&nbsp;</td>
                            <td>B</td>
                        </tr>
                                        <tr valign="top">
                            <td>12</td>
                            <td>IS312</td>
                            <td>Sistem Manajemen Database [ <i>Database Management Systems </i> ]</td>
                            <td>3</td>
                            <td>90.75</td>
                            <td>4</td>
                            <td style="text-align:right">12&nbsp;&nbsp;</td>
                            <td>A</td>
                        </tr>
                                        <tr valign="top">
                            <td>13</td>
                            <td>GC329</td>
                            <td>Bahasa Pemrograman [ <i>Programming Language</i> ]</td>
                            <td>3</td>
                            <td>77.25</td>
                            <td>3</td>
                            <td style="text-align:right">9&nbsp;&nbsp;</td>
                            <td>B</td>
                        </tr>
                                        <tr valign="top">
                            <td>14</td>
                            <td>IE325</td>
                            <td>Kompleksitas dan Algoritma [ <i>Algorithms and Complexity</i> ]</td>
                            <td>3</td>
                            <td>79.50</td>
                            <td>3</td>
                            <td style="text-align:right">9&nbsp;&nbsp;</td>
                            <td>B</td>
                        </tr>
                                        <tr valign="top">
                            <td>15</td>
                            <td>FK322</td>
                            <td>Kalkulus [ <i>Calculus</i> ]</td>
                            <td>3</td>
                            <td>28.67</td>
                            <td>0</td>
                            <td style="text-align:right">0&nbsp;&nbsp;</td>
                            <td>T</td>
                        </tr>
                                </tbody>
                
                <tfoot>
                    <tr>
                        <th colspan="3">Total</th>
                        <th>43</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                        <th style="text-align:right">136&nbsp;&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr>
                        <th colspan="6">IPK</th>
                        <th style="text-align:right">3.16&nbsp;&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                </tfoot>
                        </table>
        </table>
</ion-content>
