<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Keuangan</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <table class="table">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
            <th>No.</th>
            <th>Tahun Akademik</th>
            <th>Semester</th>
            <th>Tanggal</th>
            <th>Jumlah</th>
            <th>Keterangan</th>
        </tr>
    </thead>
    <tbody>
                            <tr>
                <td>1</td>
                <td>2019/2020</td>
                <td>Ganjil</td>
                <td>12-08-2019</td>
                <td style="text-align:right">250,000&nbsp;</td>
                <td>Biaya Pendaftaran Mahasiswa Baru</td>
            </tr>
                            <tr>
                <td>2</td>
                <td>2020/2021</td>
                <td>Ganjil</td>
                <td>05-05-2020</td>
                <td style="text-align:right">250,000&nbsp;</td>
                <td>Biaya Pendaftaran Mahasiswa Baru</td>
            </tr>
                            <tr>
                <td>3</td>
                <td>2020/2021</td>
                <td>Ganjil</td>
                <td>14-06-2020</td>
                <td style="text-align:right">2,750,000&nbsp;</td>
                <td>Biaya DPPS Mahasiswa Baru</td>
            </tr>
                            <tr>
                <td>4</td>
                <td>2020/2021</td>
                <td>Ganjil</td>
                <td>25-08-2020</td>
                <td style="text-align:right">675,000&nbsp;</td>
                <td>Pembayaran Ke 1</td>
            </tr>
                            <tr>
                <td>5</td>
                <td>2020/2021</td>
                <td>Genap</td>
                <td>19-02-2021</td>
                <td style="text-align:right">475,000&nbsp;</td>
                <td>Pembayaran Ke 3 (BNI)</td>
            </tr>
                            <tr>
                <td>6</td>
                <td>2020/2021</td>
                <td>Genap</td>
                <td>19-02-2021</td>
                <td style="text-align:right">2,075,000&nbsp;</td>
                <td>Pembayaran Ke 2 (BRI) </td>
            </tr>
                            <tr>
                <td>7</td>
                <td>2021/2022</td>
                <td>Ganjil</td>
                <td>08-09-2021</td>
                <td style="text-align:right">2,550,000&nbsp;</td>
                <td>Pembayaran Ke 4 </td>
            </tr>
                    </tbody>
    </table>
  </table>
</ion-content>
