<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title align="center">Kartu Rencana Studi</ion-title>
  </ion-toolbar>
  <link rel="stylesheet" href="http://elearning.unbin.ac.id/assets/css/bootstrap.min.css">
</ion-header>

<ion-content>
  <table class="table">
    <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Kode Matkul</th>
                        <th>Nama Matkul</th>
                        <th>SKS</th>
                    </tr>
                </thead>
                <tbody>
                                        <tr>
                            <td>1</td>
                            <td>FK322</td>
                            <td>Kalkulus [ <i>Calculus</i> ]</td>
                            <td style="text-align:center">3</td>
                        </tr>
                                        <tr>
                            <td>2</td>
                            <td>FK018</td>
                            <td>Inggris 1 [ <i>English 1</i> ]</td>
                            <td style="text-align:center">0</td>
                        </tr>
                                        <tr>
                            <td>3</td>
                            <td>IE329</td>
                            <td>Sistem Intelijen Strategi Pencarian Dasar [ <i>Intelligence System Basic Search Strategies</i> ]</td>
                            <td style="text-align:center">3</td>
                        </tr>
                                        <tr>
                            <td>4</td>
                            <td>IE327</td>
                            <td>Dasar Sistem Cerdas [ <i>Intelligence System Fundamental</i> ]</td>
                            <td style="text-align:center">3</td>
                        </tr>
                                        <tr>
                            <td>5</td>
                            <td>IE326</td>
                            <td>Platform mobile [ <i>Mobile Platforms</i> ]</td>
                            <td style="text-align:center">3</td>
                        </tr>
                                        <tr>
                            <td>6</td>
                            <td>IE428</td>
                            <td>Analisis dan Pemodelan Perangkat Lunak [ <i>Software Modeling And Analyst</i> ]</td>
                            <td style="text-align:center">4</td>
                        </tr>
                                        <tr>
                            <td>7</td>
                            <td>IE315</td>
                            <td>Pemrograman Web [ <i>Web Programming</i> ]</td>
                            <td style="text-align:center">3</td>
                        </tr>
                                </tbody>
            </table>
  </table>
</ion-content>
